body{
  background-color: hsl(212, 45%, 89%);
}
.content{
  background-color: white;
  width: 280px;
  height: 450px;
  font-family: 'Outfit', serif;
  border-radius: 12px;
  margin: 120px auto 100px auto;
}
img{
  width: 250px;
  margin: 15px;
  border-radius: 10px;
}
h3{
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-family: 'Outfit',sans-serif;
}
p{
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Outfit', serif;
  font-size: 15px;
}
